<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-4 pull-left">
        <h4>
          <i class="fa fa-pie-chart"></i>
          {{ daCtrl.selectedView }} for Delivery Round: {{ daCtrl.deliveryRound._id }}
        </h4>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="col-sm-2 control-label">LGA</label>
          <div class="col-sm-10">
            <select class="form-control"
                    ng-model="daCtrl.selectedLGA"
                    ng-change="daCtrl.updateList()">
              <option ng-repeat="lga in daCtrl.facAllocInfo.lgaList track by $index"
                      ng-value="lga"
                      ng-selected="$index === 0"
                      ng-bind="lga">
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4 clearfix pull-right">
        <button class="btn btn-lg btn-success"
                ng-disabled="daCtrl.isDisabled()">
          <span>Select Allocation Template</span>
        </button>

        <span class="dropdown" dropdown on-toggle="toggled(open)">
           <a href class="dropdown-toggle btn btn-lg btn-primary" dropdown-toggle>
             <b>
               <i class="fa fa-check"></i>
               {{ daCtrl.selectedView }}
               <span class="caret"></span>
             </b>
           </a>
           <ul class="dropdown-menu">
             <li>
               <a href="#" ng-repeat="key in daCtrl.views"
                  ng-click="daCtrl.switchView(key)">{{ key }}
               </a>
             </li>
           </ul>
        </span>
      </div>
    </div>
  </div>

  <div ng-include="'app/planning/allocation/partials/packing-list.html'"
       ng-show="daCtrl.views.packedProduct === daCtrl.selectedView">
  </div>

  <div ng-include="'app/planning/allocation/partials/product-presentation.html'"
       ng-show="daCtrl.views.productPresentation === daCtrl.selectedView">
  </div>

</div>



