<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">{{title}}</h2>
    <div class="well hidden-print">
      <form class="form-inline">
        <div class="form-group">
          <label for="placeType">Place Type:</label>
          <select id="placeType" class="form-control" ng-model="place.type" ng-change="place.search = ''">
            <option value=""></option>
            <option ng-if="currentUser.showStates" value="state">State</option>
            <option ng-if="currentUser.showZones" value="zone">Zone</option>
            <option ng-if="currentUser.showLgas" value="lga">LGA</option>
            <option ng-if="currentUser.showWards" value="ward">Ward</option>
            <option value="facility">Facility</option>
          </select>
        </div>
        &nbsp;
        <div class="form-group has-feedback">
          <input type="text" class="form-control filter" placeholder="Place Name"
                 ng-model="place.search" ng-disabled="!place.type.length"
                 typeahead="place for place in getPlaces($viewValue)" typeahead-loading="places.loading">
          <span ng-show="places.loading" class="glyphicon glyphicon-refresh form-control-feedback"></span>
        </div>
        &nbsp;
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="from.date" datepicker-popup is-open="from.opened"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="from.open($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        &nbsp;
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="to.date" datepicker-popup is-open="to.opened"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="to.open($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        &nbsp;
        <button type="button" class="btn btn-primary" ng-click="updateTotals()">
          Apply
        </button>
      </form>
    </div>

    <alert ng-hide="filteredRows.length" type="info">No data.</alert>

    <div ng-show="filteredRows.length">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Summary</h3>
        </div>
        <div class="table-scroller">
          <table class="table table-condensed table-bordered table-striped table-condensed">
            <thead>
            <tr>
              <th ng-repeat="productType in productTypes" ng-class="productType.style">{{productType.code}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td ng-repeat="value in summary track by $index">{{value}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <button class="btn btn-primary btn-xs pull-right hidden-print" type="button"
                  ng-csv="totals" csv-header="totalsHeaders" filename="{{getFileName(title)}}">
            Export
          </button>
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="table-scroller">
          <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th class="place-type">{{place.columnTitle}}</th>
              <th ng-repeat="productType in productTypes" ng-class="productType.style">{{productType.code}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="total in totals" ng-click="updateFor(total[0])">
              <td ng-repeat="value in total track by $index">{{value}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-primary center-block" style="width: 1024px; page-break-inside: avoid;">
        <div class="panel-heading">
          <h3 class="panel-title">Over Time</h3>
        </div>
        <div class="panel-body">
          <nvd3-line-chart
            data="chartData"
            height="600"
            showXAxis="true"
            xAxisTickValues="getXTickValues()"
            xAxisTickFormat="formatDateAxisFunction()"
            staggerLabels="true"
            showYAxis="true"
            showLegend="true"
            margin="{right:80}">
            <svg></svg>
          </nvd3-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>
