
<div class="container">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">LMIS Dashboard</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Database</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <h3>Stockcount</h3>
    <!--table class="table table-bordered table-hover">
        <tr>
            <th>Facility</th>
            <th>Count Date</th>
            <th ng-repeat="(profile, count) in docs[0].unopened">{{profile}}</th>
        </tr>
        <tr ng-repeat="doc in docs">
            <td>{{doc.facility}}</td>
            <td>{{doc.countDate}}</td>
            <td ng-repeat="count in doc.unopened">{{count}}</td>
        </tr>
    </table-->
    <table class="table table-bordered">
        <tr>
            <th>Facility</th>
            <th>Count Date</th>
            <th ng-repeat="(profile, count) in docs[0].unopened">{{profile}}</th>
        </tr>

        <tr ng-repeat="doc in docs">
            <td>{{doc.facility}}</td>
            <td>{{doc.countDate}}</td>
            <td ng-repeat="count in doc.unopened" >{{count}}</td>
        </tr>
    </table>
</div>
