<div class="modal-header alert-info">
  <h3>Import Delivery Scheduling Data</h3>
</div>

<!-- Modal body section -->
<div class="modal-body">
  <div class="col-sm-15">
    <div class="row">
      <div class="col-sm-6">
        <ng-csv-import
            class="btn btn-default btn-lg"
            content="sdidCtrl.csv.content"
            header="sdidCtrl.csv.header"
            separator="sdidCtrl.csv.separator"
            result="sdidCtrl.csv.result">
        </ng-csv-import>
      </div>
      <div class="col-sm-6" align="left">
        <button class="btn btn-primary btn-lg"
                ng-disabled="sdidCtrl.getSize() <= 0"
                ng-click="sdidCtrl.process()">
          <i class="fa fa-cog"></i>
          <span>Apply Changes</span>
        </button>
      </div>
    </div>
    <br/><br/>

    <div class="alert alert-info" ng-show="sdidCtrl.csv.result">
      <strong>Uploaded {{ sdidCtrl.getSize() }} rows successfully!</strong>
    </div>
    <br/><br/>


    <!-- processed result  -->
    <div class="row container-fluid">
      <table class="table table-condensed table-striped table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th class="col-sm-2">Facility</th>
          <th class="col-sm-2">Code</th>
          <th class="col-sm-1">Delivery Date</th>
          <th class="col-sm-2">Driver</th>
          <th class="col-sm-1">Drop</th>
          <th class="col-sm-1">Window</th>
          <th class="col-sm-1">Distance (KM)</th>
          <th class="col-sm-1">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in sdidCtrl.csv.result"
            ng-class="{'danger': row.incomplete }">
          <td ng-bind="($index + 1)"></td>
          <td ng-bind="row[sdidCtrl.headers[1]]"></td>
          <td ng-bind="row[sdidCtrl.headers[2]]"></td>
          <td ng-bind="row[sdidCtrl.headers[3]]"></td>
          <td ng-bind="row[sdidCtrl.headers[4]]"></td>
          <td ng-bind="row[sdidCtrl.headers[5]]"></td>
          <td ng-bind="row[sdidCtrl.headers[7]]"></td>
          <td ng-bind="row[sdidCtrl.headers[6]]"></td>
          <td>
            <button class="btn btn-primary">Save</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<!-- modal footer section-->
<div class="modal-footer">
  <button type="submit" class="btn btn-success" ng-click="">
    <span>Apply import</span>
    <i class="fa fa-chevron-circle-right"></i>
  </button>

  <button class="btn btn-default" ng-click="sdidCtrl.close()">
    <i class="fa fa-times"></i>
    <span>Close</span>
  </button>
</div>
