$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

a, button {
  cursor: pointer;
}

td .form-group {
  margin: 0;
}

td .form-group .form-control-feedback {
  top: 0;
}

.has-feedback .form-control.filter {
  padding-right: 12px;
}

.table-scroller {
  display: block;
  overflow-x: auto;
}

.panel .table-scroller table {
  margin-bottom: 0;
  border: none;
}

.table-scroller table.table-bordered > thead > tr > th:first-child,
.table-scroller table.table-bordered > thead > tr > td:first-child,
.table-scroller table.table-bordered > tbody > tr > th:first-child,
.table-scroller table.table-bordered > tbody > tr > td:first-child,
.table-scroller table.table-bordered > tfoot > tr > th:first-child,
.table-scroller table.table-bordered > tfoot > tr > td:first-child {
  border-left: none;
}

.table-scroller table.table-bordered > thead > tr > th:last-child,
.table-scroller table.table-bordered > thead > tr > td:last-child,
.table-scroller table.table-bordered > tbody > tr > th:last-child,
.table-scroller table.table-bordered > tbody > tr > td:last-child,
.table-scroller table.table-bordered > tfoot > tr > th:last-child,
.table-scroller table.table-bordered > tfoot > tr > td:last-child {
  border-right: none;
}

.table-hover tr {
  cursor: pointer;
}

#stock-count-summary > tbody + tbody {
  border-top: none;
}

.pointer {
  cursor: pointer;
}

th.cold-store-vaccines {
  background-color: #157085;
  color: #FFFFFF;
}

th.dry-store-safety-boxes, th.dry-store-syringes {
  background-color: #8B4A09;
  color: #FFFFFF;
}

th.place-type {
  background-color: #000000;
  color: #ffffff;
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 1;
  stroke-opacity: 1;
}
