<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="btn-group pull-right btn-group-lg">
      <button class='btn btn-primary active' ui-sref="configurations.products">States</button>
      <button class='btn btn-info' ui-sref="configurations.products">Zones</button>
			<button class='btn btn-default' ui-sref="configurations.products">LGAs</button>
			<button class='btn btn-warning' ui-sref="configurations.products">Wards</button>
    </div>
  </div>
  <div class="panel-body">
    <form role="form">
        <div class="import">
          <div class="form-group">
            <button class="btn btn-success btn-lg pull-right" ng-click="configLocationCtrl.save()">
              <i class="fa fa-check"></i> Save</button>
            <ng-csv-import
              content="configLocationCtrl.csv.content"
              header="configLocationCtrl.csv.header"
              separator="configLocationCtrl.csv.separator"
              finished="configLocationCtrl.finished(configLocationCtrl.csv.result)"
              result="configLocationCtrl.csv.result">
            </ng-csv-import>
            <div ng-if="configLocationCtrl.csv.result.length > 0">
              <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                  <th style="">Name</th>
                  <th>Level</th>
                  <th style="">OSMID</th>
                  <th style="">Country</th>
                  <th style="">G/P Zone</th>
                  <th style="">State</th>
                  <th style="">Zone</th>
                  <th style="">LGA</th>
                </tr>
                <tr ng-repeat="location in configLocationCtrl.csv.result track by $index">
                  <td>{{location.name}}</td>
                  <td ng-bind="location.level"></td>
                  <td ng-bind="location.osmId"></td>
                  <td ng-bind="location.admin_level_0"></td>
                  <td ng-bind="location.admin_level_1"></td>
                  <td ng-bind="location.admin_level_2"></td>
                  <td ng-bind="location.admin_level_3"></td>
                  <td ng-bind="location.admin_level_4"></td>
                </tr>
              </table>
            </div>
         </div>
        </div>
     </form>
  </div>
</div>
