<div class="panel panel-info">
   <div class="panel-heading clearfix">
    Editing Template For <b>{{tempAddCtrl.template.name}}</b>
    <span class="pull-right">
      <button class="btn-danger btn btn-lg">
        <i class="fa fa-warning"></i>
        <span>Delete Template</span>
      </button>
    </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <form>
          <div class="form-group">
            <label>Template Name</label>
            <input type="text" class="form-control input-lg" ng-model="tempAddCtrl.template.name">
          </div>
           <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control input-lg" ng-model="tempAddCtrl.template.description">
          </div>
           <div class="form-group">
            <label>State of Primary Use</label>
            <select data-ng-model="tempAddCtrl.template.primary.state"
                    class="form-control input-lg"
                    ng-options="state._id as state.name for state in tempAddCtrl.states">

            </select>
          </div>
          <div class="form-group">
            <label>Year of Primary Use</label>
           <input type="number" class="form-control input-lg"
                  min="0"
                  ng-model="tempAddCtrl.template.primary.year">
          </div>
        </form>
        <label>Products</label>
        <div
            class="dropzone thumbnail"
            ondrop="return tempAddCtrl.dragDrop(event)">
          <div
              class="btn btn-success"
              ng-repeat="(product, value) in tempAddCtrl.template.products track by $index">
            {{product}}
          </div>
        </div>
      </div>
      <div class="col-md-4" >
        <h4 class="page-heading" draggable="true">Product List</h4>
        <ul ng-hide="tempAddCtrl.productList.length == 0" class="nav nav-list small draglist" >
            <li ng-repeat="product in tempAddCtrl.productList track by $index">
              <a
                class="btn btn-info"
                ng-click="tempAddCtrl.updateTemplateProducts(product)"
                ng-bind="product.code"
                ng-disabled="tempAddCtrl.template.products[product.code]">

              </a>
            </li>
        </ul>
      </div>


    </div>
  </div>
  <div class="panel-footer clearfix">
    <span class="pull-right">
      <button class="btn btn-default btn-lg" ng-click="tempAddCtrl.cancel()">Cancel</button>
      <button class="btn btn-success btn-lg" ng-click="tempAddCtrl.close()">Submit</button>
    </span>
  </div>
</div>