<ul id="user-states" class="nav navbar-nav navbar-right dropdown">
  <div class="btn-group" dropdown is-open="">
    <button type="button" class="btn btn-default btn-lg" dropdown-toggle ng-disabled="">
      <span ng-bind="selectedItem"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li
        class="pointer"
        ng-repeat="item in items"
        ng-bind="item"
        ng-click="changeItem(item)">
      </li>
    </ul>
  </div>
</ul>