<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      Facility CCE Status Report
    </h2>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped">
            <thead>
            <tr>
              <th></th>
              <th>Zone</th>
              <th>LGA</th>
              <th>Ward</th>
              <th>Facility</th>
              <th>CCE Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="report in facAllCtrl.facilities">
              <td></td>
              <td ng-bind="report.zone"></td>
              <td ng-bind="report.lga"></td>
              <td ng-bind="report.ward"></td>
              <td ng-bind="report.name"></td>
              <td>
                <span class="pointer" ng-click="facAllCtrl.updateStatus(report)">
                  <i ng-class="{'fa fa-times text-danger': !facAllCtrl.facilityStatus[report._id].status, 'fa fa-check text-success': facAllCtrl.facilityStatus[report._id].status}"></i>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>