<div class="panel panel-default">
  <div class="panel-heading">

  </div>
  <div class="panel-body">
    <hr/>
    <div class="clearfix">
      <div class="btn-group btn-group-lg pull-right">
        <button class="btn btn-primary" ui-sref="configurations.products.add"><i class="fa fa-plus"></i> add product</button>
      </div>
    </div>
    <hr/>

    <div class="alert alert-info" ng-if="productsCtrl.products.length ===0">
      <i class="fa fa-info-circle"></i>
      Product list could not be retrieved. please reload the page after sometime. if it is still not retrieved, contact site administrator.
    </div>
    <table class="table table-bordered table-striped" ng-if="productsCtrl.products.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Description</th>
          <th>Measured in</th>
          <th>Storage Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in productsCtrl.products">
          <td ng-bind="product.name"></td>
          <td ng-bind="product.code"></td>
          <td ng-bind="product.description"></td>
          <td ng-bind="product.baseUOM"></td>
          <td ng-bind="product.storageID"></td>
          <td>
            <a class="btn btn-info" ui-sref="configurations.products.edit({code:product._id})"><i class="fa fa-wrench"></i> edit</a>
             <a class="btn btn-danger"><i class="fa fa-close"></i> remove</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>