<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <i class="fa fa-file-powerpoint-o"></i>
    <span><b>Add/Edit Products</b></span>
    <div class="btn-group pull-right">
      <button class='btn btn-default btn-lg' ui-sref="configurations.products">
        <i class="fa fa-backward"></i>
        <span>Back to List</span>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label>Product Name</label>
        <input class="form-control input-lg" ng-model="productUpdateCtrl.product.name">
      </div>
      <div class="form-group">
        <label>Product Code</label>
        <input class="form-control input-lg"  ng-model="productUpdateCtrl.product.code">
      </div>
      <div class="form-group">
        <label>Product Description</label>
        <input class="form-control input-lg"  ng-model="productUpdateCtrl.product.description">
      </div>
      <div class="form-group">
        <label>Measured In</label>
        <select class="form-control input-lg" ng-model="productUpdateCtrl.product.baseUOM">
          <option></option>
          <option
              ng-repeat="baseUOM in productUpdateCtrl.baseUOMs track by $index"
              ng-selected="(baseUOM === productUpdateCtrl.product.baseUOM)"
              value="{{baseUOM}}"
              >{{baseUOM}}</option>
        </select>
      </div>
      <div class="form-group ">
        <label>Storage Type</label>
        <select class="form-control input-lg"
            ng-model="productUpdateCtrl.product.storageID">
          <option value=""></option>
          <option
              ng-repeat="(item, value) in productUpdateCtrl.storageTypes track by $index"
              value="{{value._id}}"
              ng-selected="(productUpdateCtrl.product.storageID === value._id)">
            {{value.label}}
          </option>
        </select>
      </div>
      <div class="clearfix">
        <div class="pull-right">
          <button class="btn btn-lg btn-success"
                  ng-click="productUpdateCtrl.save()">
            <i class="fa fa-save" ></i>
            <span>Save</span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <hr/>
  <div class="panel-footer"></div>
</div>