<div
  class="alert alert-warning"
  ng-show="calculationsController.activeView ==='MR' || calculationsController.activeView === 'MMAX'">
  <i class="fa fa-warning"></i>
  figures in <b>yellow</b> are unavailable most likely because <b>target populations data</b> for these facilities is not up to date
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th>Facility</th>
      <th ng-repeat="p in calculationsController.productList track by $index" ng-bind="p"></th>
      <th>Edit</th>
    </tr>
    <tr ng-repeat="allocation in calculationsController.renderedData track by $index">
      <td >
        <a href ng-bind="allocation.name"></a>
      </td>
      <td ng-repeat="p in calculationsController.productList" ng-class="{'bg-warning': allocation[calculationsController.activeView][p] === 'NA'}">
        {{allocation[calculationsController.activeView][p]}}
      <span ng-show="calculationsController.activeView ==='coverage' || calculationsController.activeView === 'buffer'">%</span>
      </td>
      <td>
        <a href ng-if="!allocation.customTemplate" ng-click="calculationsController.addCustomAssumption(allocation)"><i class="fa fa-wrench"></i> Customize</a>
        <a href ng-if="allocation.customTemplate" ><i class="fa fa-edit"></i>Edit</a>
      </td>
    </tr>
  </table>

</div>
