<table class="table table-bordered">
  <tr>
    <th>Facility</th>
    <th ng-repeat="(product, vlaue) in calculationsController.selectedTemplate.products track by $index" ng-bind="::product"></th>
    <th>edit</th>
  </tr>
  <tr ng-repeat="allocation in calculationsController.renderedData track by $index">
    <td >
      <a href ng-bind="allocation.name"></a>
    </td>
    <td ng-repeat="product in allocation[calculationsController.activeView]">
      {{product}}
      <span ng-show="calculationsController.activeView ==='coverage' || calculationsController.activeView === 'buffer'">
        %
      </span>
    </td>
    <td><a href><i class="fa fa-wrench"></i></td>
  </tr>
</table>
