<nav class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LMIS Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="{active: isActive('/')}"><a href="/">Home</a></li>
      <li ng-class="{active: isActive('/inventory')}">
        <a href="/inventory">Inventory</a>
      </li>
      <li ng-class="{active: isActive('/ccu-breakdown')}">
        <a href="/ccu-breakdown">CCU Breakdown</a>
      </li>
      <li ng-class="{active: isActive('/stock-count')}">
        <a href="/stock-count">Stock Count</a>
      </li>
      <li ng-class="{active: isActive('/waste-count')}">
        <a href="/waste-count">Waste Count</a>
      </li>
      <li ng-class="{active: isActive('/stock-out')}">
        <a href="/stock-out">Stock Out</a>
      </li>
      <!-- li ng-class="{active: isActive('/stock-count-summary')}">
        <a href="/stock-count-summary">Stock Count Summary</a>
      </li -->
      <li ng-class="{active: isActive('/facilities')}">
        <a href="/facilities">Facilities</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
      <li ng-show="isLoggedIn()" class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
          Logged in as: {{getCurrentUser().name}} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
