<div class="panel panel-default">
  <div class="panel panel-heading">
    <div class="row">
      <div class="col-sm-6 pull-left">
        <h4>Import Facilities for {{ mfCtrl.deliveryRound._id }}</h4>
      </div>

      <div class="col-sm-6">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary">Import</button>
          <button type="button" class="btn btn-danger">Remove</button>
          <button type="button" class="btn btn-default">Clear</button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="btn-group">
      <button class="btn btn-primary">Import CSV</button>
      <button class="btn btn-primary" ng-click="mfCtrl.copyFromRoundDialog()">Copy Round Template</button>
      <button class="btn btn-primary">Add Facility</button>
    </div>

    <table ng-show="mfCtrl.facilityList.length > 0"
           class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Select</th>
        <th>Code</th>
        <th>Facility</th>
        <th>Ward</th>
        <th>Zone</th>
        <th>State</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="facility in mfCtrl.facilityList">
        <td>
          <input type="checkbox">
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i>
            <span>Edit</span>
          </button>

          <a class="btn btn-success" ui-sref="planning.schedule({ roundId: round._id })">
            <i class="fa fa-calendar"></i>
            <span>Schedule</span>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
