<hr/>
<!--<div class="btn-toolbar" role="toolbar" aria-label="...">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default btn-checkbox btn-group-md" btn-checkbox ng-model="checkModel.left">
      <i class="fa fa-paint-brush"></i> color code
    </button>
    <button type="button" class="btn btn-default btn-checkbox" btn-checkbox ng-model="checkModel.middle">
      <i class="fa fa-th-list"></i> add hover effect
    </button>
    <button type="button" class="btn btn-default btn-checkbox" btn-checkbox ng-model="checkModel.right">
      <i class="fa fa-sort-amount-desc"></i> group by storage type
    </button>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-info" ng-model="radioModel" btn-radio="'Left'">
      <i class="fa fa-th"></i> control column
    </button>
    <button type="button" class="btn btn-info" ng-model="radioModel" btn-radio="'right'">
      <i class="fa fa-comment-o"></i> tooltip
    </button>
  </div>
  <div class="btn-group pull-right" role="group" aria-label="...">
    <a
      class="btn btn-warning"
      ng-model="radioModel"
      btn-radio="'Left'"
      uncheckable
      ui-sref="configurations.allocations.assumptions.preview">
      <i class="fa fa-search"></i> preview
    </a>
    <a class="btn btn-default" ng-model="radioModel" btn-radio="'Right'" uncheckable>
      <i class="fa fa-wrench"></i> edit
    </a>
  </div>
</div>-->
<div class="clearfix">
  <a class="btn btn-success pull-right" ng-click="assumptionsCtrl.addAssumption()">
    <i class="fa fa-plus"></i>
    create new template
  </a>
</div>
<hr/>
<table ng-if="assumptionsCtrl.assumptionList.length > 0" class="table table-bordered">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Primary state</th>
    <th>Primary year</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="template in assumptionsCtrl.assumptionList track by $index">
      <td ng-bind="template._id"></td>
      <td ng-bind="template.description"></td>
      <td ng-bind="template.primary.state"></td>
      <td ng-bind="template.primary.year"></td>
      <td>
        <a class="btn btn-info" ui-sref="allocationView({id: template._id})">
          <i class="fa fa-eye"></i>
          <em>view</em>
        </a>
        <a class="btn btn-primary" ng-click="assumptionsCtrl.addAssumption(template)">
          <i class="fa fa-wrench"></i>
          <em>edit</em>
        </a>
      </td>
    </tr>
  </tbody>
</table>
