<div class="row">
  <div class="col-md-6">
    <div class="row" ng-controller="MainStockOutCtrl">
      <div class="col-xs-12">
        <h2 class="page-header">Stock Out Alerts</h2>
        <div class="row" ng-show="loading || error">
          <div class="col-xs-12">
            <div class="alert alert-info" ng-show="loading">
              Loading ...
            </div>
            <div class="alert alert-danger" ng-show="error">
              Error loading data.
            </div>
          </div>
        </div>
        <div class="row" ng-hide="loading || error">
          <div class="col-xs-12">
            <div style="overflow: auto;">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>LGA</th>
                  <th>Ward</th>
                  <th>Facility</th>
                  <th>Date</th>
                  <th>Product Type</th>
                  <th>Stock Level</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in rows">
                  <td>{{row.facility.lga}}</td>
                  <td>{{row.facility.ward}}</td>
                  <td>{{row.facility.name}}</td>
                  <td style="white-space: nowrap;">
                    {{row.created | date:SETTINGS.dateFormat}}
                  </td>
                  <td>{{row.productType}}</td>
                  <td>{{row.stockLevel}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row" ng-controller="MainCCUBreakdownCtrl">
      <div class="col-xs-12">
        <h2 class="page-header">CCU Breakdown Alerts</h2>
        <div class="row" ng-show="loading || error">
          <div class="col-xs-12">
            <div class="alert alert-info" ng-show="loading">
              Loading ...
            </div>
            <div class="alert alert-danger" ng-show="error">
              Error loading data.
            </div>
          </div>
        </div>
        <div class="row" ng-hide="loading || error">
          <div class="col-xs-12">
            <div style="overflow: auto;">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>LGA</th>
                  <th>Ward</th>
                  <th>Facility</th>
                  <th>Date</th>
                  <th>CCU Unit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in rows">
                  <td>{{row.facility.lga}}</td>
                  <td>{{row.facility.ward}}</td>
                  <td>{{row.facility.name}}</td>
                  <td style="white-space: nowrap;">
                    {{row.created | date:SETTINGS.dateFormat}}
                  </td>
                  <td>{{row.name}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-controller="UnopenedCtrl">
  <div class="col-xs-12">
    <h2 class="page-header">Stock Count</h2>
    <div class="row" ng-show="loading || error">
      <div class="col-xs-12">
        <div class="alert alert-info" ng-show="loading">
          Loading ...
        </div>
        <div class="alert alert-danger" ng-show="error">
          Error loading data.
        </div>
      </div>
    </div>
    <div class="row" ng-hide="loading || error">
      <div class="col-xs-12">
        <h3>Most recent</h3>
        <div style="overflow: auto;">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>LGA</th>
              <th>Ward</th>
              <th>Facility</th>
              <th>Date</th>
              <th ng-repeat="type in productTypes">{{type.code}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in mostRecent">
              <td>{{row.facility.lga}}</td>
              <td>{{row.facility.ward}}</td>
              <td style="cursor: pointer;" ng-click="setChartData(row.facility)">
                {{row.facility.name}}
              </td>
              <td style="white-space: nowrap;">
                {{row.date | date:SETTINGS.dateFormat}}
              </td>
              <td ng-repeat="(uuid, type) in productTypes" ng-class="{ 'danger': isOut(row, uuid) }">
                {{count(row, uuid)}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <h3>By product over time</h3>
        <div class="panel panel-primary center-block" style="width: 1024px">
          <div class="panel-heading">
            {{chartFacility.name}}
          </div>
          <div class="panel-body">
            <nvd3-line-chart
              data="chartData"
              id="exampleId"
              width="1024"
              height="600"
              showXAxis="true"
              xAxisTickFormat="formatDateAxisFunction()"
              staggerLabels="true"
              showYAxis="true"
              showLegend="true"
              margin="{right:80}">
              <svg></svg>
            </nvd3-line-chart>
          </div>
          <div class="panel-footer">
            Please click on a facility name in the table above to see related
            data.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
