<div class="row">
  <div class="col-md-12">
    <div class="row" ng-controller="WeeklyReportGraphCtrl">
      <div class="col-md-12" align="center">
        <h2>Weekly Situation Report
          ( {{ startDate | date : 'mediumDate' }} - {{ endDate | date : 'mediumDate' }})
        </h2>
      </div>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div ng-show="isLoadingGraphData" align="center">
              <i class="fa fa-spin fa-spinner fa-3x"></i>
            </div>
            <div class="container-fluid" ng-if="!isLoadingGraphData">
              <nvd3-multi-bar-chart
                  data="weeklySituationReport"
                  id="weeklyReportChart"
                  margin="{ left: 80 }"
                  height="450"
                  tooltips="true"
                  showXAxis="true"
                  showYAxis="true"
                  showLabels="true"
                  forcey="[0, 1]" ,
                  yAxisTickFormat="roundOff()"
                  y="yValue()"
                  showLegend="true">
                <svg></svg>
              </nvd3-multi-bar-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="MainStockReport">
  <!-- Late facility reporting section -->
  <div class="col-sm-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4>REPORTING | Late Facilities</h4>
      </div>
      <div ng-show="working" align="center"><i class="fa fa-spin fa-spinner fa-3x"></i>
      </div>
      <div ui-grid="lateGridOption" ui-grid-pagination
           ng-if="stockReports.lateReports.length > 0 && !working"></div>
      <div class="alert alert-info"
           ng-show="stockReports.lateReports.length === 0 && !working">
        <i class="fa fa-info-circle"></i>
        <span>No facilities reporting late</span>
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>

  <!-- Silent facility table section -->
  <div class="col-sm-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h4>REPORTING | Silent Facilities ( {{stockReports.noReports.length}} )</h4>
      </div>
      <div ng-show="working" align="center"><i class="fa fa-spin fa-spinner fa-3x"></i>
      </div>

      <div ui-grid="gridOptions" ui-grid-pagination
           ng-if="stockReports.noReports.length > 0 && !working">
      </div>

      <div class="alert alert-info"
           ng-show="stockReports.noReports.length === 0 && !working">
        <i class="fa fa-info-circle"></i>
        <span>No facilities is silent!</span>
      </div>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>