<div class="list-group" ng-init="selectedMenu = 1">
  <a ui-sref="configurations.allocations.assumptions" class="list-group-item"
     ng-class="{active: selectedMenu == 1}"  ng-click="selectedMenu = 1"><h4><i class="fa fa-pie-chart"></i> Allocations</h4></a>
  <a ui-sref="configurations.products" class="list-group-item"
     ng-class="{active: selectedMenu == 2}" ng-click="selectedMenu = 2"><h4><i class="fa fa-list"></i> Products</h4></a>
  <a ui-sref="configurations.facilities" class="list-group-item" ng-click="selectedMenu = 3"
     ng-class="{active: selectedMenu == 3}"><h4><i class="fa fa-hospital-o"></i> Facilities</h4></a>
  <a ui-sref="configurations.measurements" class="list-group-item" ng-click="selectedMenu = 4"
     ng-class="{active: selectedMenu == 4}"><h4><i class="fa fa-area-chart"></i> Measurements</h4></a>
</div>