// Override Sass dependency variables
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";

// Inject Sass dependencies
// bower:scss
// endbower

.content {
  margin-bottom: 20px;
}

// use pointer for all nav links, even those without a href (they generally use ng-click)
.nav > li > a:hover,
.nav > li > a:focus {
  cursor: pointer;
}

td.actions {
  width: 1px;
  white-space: nowrap;
}
dl > dt, dl > dd {
  margin: 0.7em;
  text-transform: capitalize;
}
// injector
@import 'reports/invoice/round/round.scss';
// endinjector

// injector
@import 'configurations/allocations/assumptions/assumptions.scss';
// endinjector

