// Override Bower dependency variables
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";

// Inject Bower Sass dependencies
// bower:scss
// endbower

// Inject app Sass dependencies
// injector
// endinjector

.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-header {
  margin-top: 0;
  margin-bottom: 10px;
  border: none;
}

.switch input {
  display: none;
}
.switch i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
.switch i:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px lightblue;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px lightblue;
}

.switch.red :checked + i {
  box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px red;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px red;
}

.wrapped-content {
  border-collapse:collapse;
  font-size: 90%;
  td, th{
    word-wrap:break-word;
  }
}
