<div class="panel panel-default">
  <div class="panel-heading">
    
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <form>
          <div class="form-group">
            <label for="zone" class="sr-only">
              Zone
            </label>
            <select
              id="zone"
              class="form-control"
              ng-change="facModalCtrl.updateLocation(facModalCtrl.facModel.zone, 'zone')"
              ng-model="facModalCtrl.facModel.zone">
              <option
                ng-repeat="zone in facModalCtrl.list.zone"
                value="{{ zone }}"
                ng-bind="zone">
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="lga" class="sr-only">
              LGA
            </label>
            <select
              id="lga"
              class="form-control"
              ng-change="facModalCtrl.updateLocation(facModalCtrl.facModel.lga, 'lga')"
              ng-model="facModalCtrl.facModel.lga">
              <option
                ng-repeat="lga in facModalCtrl.list.lga"
                value="{{ lga }}"
                ng-bind="lga">
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="ward" class="sr-only">
              Ward
            </label>
            <select
              id="ward"
              class="form-control"
              ng-change="facModalCtrl.updateLocation(facModalCtrl.facModel.ward, 'ward')"
              ng-model="facModalCtrl.facModel.ward">
              <option
                ng-repeat="ward in facModalCtrl.list.ward"
                value="{{ ward }}"
                ng-bind="ward">
              </option>
            </select>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>