<div class="modal-header alert-info">
  <h3>New Delivery Round : {{ nrdCtrl.getRoundCode() }}</h3>
</div>
<!-- Modal body section -->
<div class="modal-body">
  <div class="col-sm-15">
    <form ng-submit="nrdCtrl.continue()">
      <div class="form-group">
        <label>Round Code</label>
        <input type="number" class="form-control" ng-disabled="true" placeholder="KN-23-2015">
      </div>

      <div class="form-group">
        <label>State</label>
        <select class="form-control" ng-model="nrdCtrl.deliveryRound.state">
          <option value="">select state</option>
          <option ng-repeat="state in nrdCtrl.states" ng-value="state.code">
            {{ state.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Round Number</label>
        <input type="number" class="form-control" ng-model="nrdCtrl.deliveryRound.roundNo" placeholder="23">
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Start date</label>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="nrdCtrl.deliveryRound.startDate"
                     datepicker-popup="{{dateFormat}}" is-open="start.opened"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="start.open($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
            </div>
          </div>
        </div>
      </div>
      <!-- beginning of end date picker section-->
      <div class="row">
        <div class="col-md-6">
          <label>End date</label>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="nrdCtrl.deliveryRound.endDate"
                     datepicker-popup="{{dateFormat}}" is-open="end.opened"
                     min-date="nrdCtrl.deliveryRound.startDate"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="end.open($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
            </div>
          </div>
        </div>
      </div>

      {{ nrdCtrl.deliveryRound | json }}

    </form>
  </div>
</div>
<!-- modal footer section-->
<div class="modal-footer">

  <button type="submit" class="btn btn-success">
    <span>Continue</span>
    <i class="fa fa-chevron-circle-right"></i>
  </button>

  <button type="button" class="btn btn-primary">
    <i class="fa fa-floppy-o"></i>
    <span>Save and Exit</span>
  </button>

  <button class="btn btn-default" ng-click="nrdCtrl.cancel()">
    <i class="fa fa-times"></i>
    <span>Close</span>
  </button>
</div>
