<span class="clearfix">
  <h3  class="">
    {{allocationValCtrl.allocationTemp._id}}
    <i class="pull-right">State: {{allocationValCtrl.allocationTemp.primary.state}} Year: {{allocationValCtrl.allocationTemp.primary.year}}</i>
  </h3>
</span>
<i>{{allocationValCtrl.allocationTemp.description}}</i>
<hr/>

<form class="form" role="form" ng-submit="allocationValCtrl.update()">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Coverage</th>
        <th>Schedule</th>
        <th>Wastage</th>
        <th>Buffer</th>
      </tr>
    </thead>
    <tr ng-repeat="(product, value) in allocationValCtrl.allocationTemp.products track by $index">
      <td><strong ng-bind="product"></strong></td>
      <td><input class="form-control" ng-model="value.coverage"> </td>
      <td><input class="form-control" ng-model="value.schedule"> </td>
      <td><input class="form-control" ng-model="value.wastage"> </td>
      <td><input class="form-control" ng-model="value.buffer"> </td>
    </tr>
  </table>
  <div align="right"><button class="btn btn-success btn-lg" type="submit">Submit Changes</button> </div>
</form>