<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">CCU Breakdown</h2>
    <div class="row" ng-show="loading || error">
      <div class="col-xs-12">
        <div class="alert alert-info" ng-show="loading">
          Loading ...
        </div>
        <div class="alert alert-danger" ng-show="error">
          Error loading data.
        </div>
      </div>
    </div>
    <div class="row" ng-hide="loading || error">
      <div class="col-xs-12">
        <table class="table table-condensed table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>State</th>
              <th>Zone</th>
              <th>LGA</th>
              <th>Ward</th>
              <th>Facility</th>
              <th>Date</th>
              <th>CCU Unit</th>
            </tr>
            <tr class="active">
              <td>
                <input type="text" class="form-control" ng-model="search.state">
              </td>
              <td>
                <input type="text" class="form-control" ng-model="search.zone">
              </td>
              <td>
                <input type="text" class="form-control" ng-model="search.lga">
              </td>
              <td>
                <input type="text" class="form-control" ng-model="search.ward">
              </td>
              <td>
                <input type="text" class="form-control" ng-model="search.facility">
              </td>
              <td colspan="2">
                <button type="button" class="btn btn-primary" ng-click="search = {}">
                  Clear Filter
                </button>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in rows | filter:search | orderBy:'-created'">
              <td>{{row.state}}</td>
              <td>{{row.zone}}</td>
              <td>{{row.lga}}</td>
              <td>{{row.ward}}</td>
              <td>{{row.facility}}</td>
              <td style="white-space: nowrap;">
                {{row.created | date:SETTINGS.dateTimeFormat}}
              </td>
              <td style="white-space: nowrap;">{{row.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
