<div class="row" ng-controller="UnopenedCtrl">
  <div class="col-xs-12">
    <h2 class="page-header">Online stock count</h2>
    <div class="row" ng-show="loading || error">
      <div class="col-xs-12">
        <div class="alert alert-info" ng-show="loading">
          Loading ...
        </div>
        <div class="alert alert-danger" ng-show="error">
          Error loading data.
        </div>
      </div>
    </div>
    <div class="row" ng-hide="loading || error">
      <div class="col-xs-12">
        <h3>Most recent</h3>
        <div style="overflow: auto;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Facility</th>
                <th>Date</th>
                <th ng-repeat="type in productTypes">{{type.code}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in rows | filter:{mostRecent: true} | orderBy:'facility'">
                <td style="white-space: nowrap; cursor: pointer;" ng-click="setChartData(row.facility)">
                  {{row.facility}}
                </td>
                <td style="white-space: nowrap;">
                  {{row.date | date:'yyyy-MM-dd'}}
                </td>
                <td ng-repeat="(uuid, type) in productTypes" ng-class="{ 'danger': isOut(row, uuid) }">
                  {{count(row, uuid)}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3>By product over time</h3>
        <div class="panel panel-primary center-block" style="width: 1024px">
          <div class="panel-heading">
            {{chartFacility || 'Please select a facility'}}
          </div>
          <div class="panel-body">
            <nvd3-line-chart
              data="chartData"
              id="exampleId"
              width="1024"
              height="600"
              showXAxis="true"
              xAxisTickFormat="formatDateAxisFunction()"
              staggerLabels="true"
              showYAxis="true"
              showLegend="true"
              margin="{right:80}">
              <svg></svg>
            </nvd3-line-chart>
          </div>
          <div class="panel-footer">
            Please click on a facility name in the table above to see related
            data.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
