<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <a class="btn btn-primary btn-xs pull-right" ui-sref="users.create">Create</a>
    <div class="form-group col-sm-4 pull-left">
      <select
        id="state"
        name="state"
        ng-change="usersCtrl.getUsers()"
        class="form-control"
        ng-model="usersCtrl.selectedState">
        <option value="">All States</option>
        <option
          ng-repeat="state in usersCtrl.states"
          value="{{ state._id }}"
          ng-bind="state.name"></option>
      </select>
    </div>
  </div>
  <div ng-hide="usersCtrl.allUsers.length" class="panel-body">
    No users found.
  </div>
  <table ng-show="usersCtrl.allUsers.length" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Forename</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>State</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in usersCtrl.allUsers | orderBy:['profile.forename', 'profile.surname', 'profile.email']">
        <td ng-bind="::user.profile.forename"></td>
        <td ng-bind="::user.profile.surname"></td>
        <td ng-bind="::user.profile.email"></td>
        <td ng-bind="::user.profile.phone"></td>
        <td ng-bind="::usersCtrl.statesObject[user.profile.state]"></td>
        <td class="actions">
          <a class="btn btn-xs btn-primary" ui-sref="users.update({id: user.profile._id})"><span class="fa fa-pencil-square-o"></span></a>
          <button class="btn btn-xs btn-danger" ng-click="usersAllCtrl.remove(user)"><span class="fa fa-trash"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
